*,
*::before,
*::after {
box-sizing: border-box;
padding: 0;
margin: 0;
}


body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #F5955B;
}

nav {
    /* Pick a color scheme. This color is temporary */
    width: 100%;
    height: 9%;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}

.logo {
    width: 40px;
    height: 40px;
    background-color: cadetblue;
    position: relative;
    left: 10px;
    bottom: -27px;
}

a {
    text-decoration: none;
    color: #362114;
    padding: 20px;
    position: relative;
    bottom: 40px;
}

article {
    background-color: white;
    /* position: absolute; */
    border-radius: 10px;
    padding: 5px;
    width: 500px;
    height: 300px;
    /* top: 25%; */
    /* display: flex; */
    /* left: 8%; */
}

aside {
    background-color: white;
    /* position: relative; */
    border-radius: 10px;
    margin-bottom: 4%;
    padding: 5px;
    /* margin: 10px; */
    width: 500px;
    height: 245px;
    /* top: 24%;
    left: 55%; */
}

.container{
display: flex;
position: relative;
top: 15%;
margin-left: 5%;
}

.asideBox{
    margin-left: 5%;
}

@media screen and (max-width: 992px) {
    .container {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
     }
     

    article{
        width: 70%;
        height: 500px;
    }

    aside{
        width: 70%;
        height: 400px;
        margin-left: 10%;
        margin-top: 15%;
    }

    nav {
        height: 23%;
    }

    .Navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
     }
     
}
  