*,
*::before,
*::after {
box-sizing: border-box;
padding: 0;
margin: 0;
}

:root {
    --blue: rgb(15, 101, 128);
    --light-blue: rgb(168, 213, 207);

    --white: #f1f1f1;
    --black: rgb(7, 41, 80);
    --brown: rgb(129, 107, 7);
    --orange: rgb(235, 104, 16);
    --pale-orange: rgb(231, 165, 111);
    --yellow: rgb(235, 207, 132);
}

body {
    background-color: var(--pale-orange);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--blue);
    border-bottom: 4px solid var(--brown);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    right: 0;
    z-index: 999;
}

nav .nav-container {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 0.1s ease;
}

.nav-container:target {
    transform: translateY(0);
}

.hamburger,
nav .close {
    display: block;
    font-size: 2rem;
}

nav .close {
    margin: 1rem;
}

.nav-container .close {
    align-self: self-end;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    list-style: none;
}

nav li {
    margin: 1.5rem 0;
}

.nav-active {
    font-weight: bold;
}

nav a {
    color: var(--white);
}

nav a:hover {
    color: var(--light-blue);
}

.logo {
    width: 40px;
    display: flex;
    height: 40px;
    background-color: var(--light-blue);
    position: relative;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--black);
    position: relative;
}

main {
    min-height: 100vh;
    border: 4px solid var(--brown);
    border-top: 0px;
    background-color: var(--yellow);
    padding: 20px;
}

#container {
    width: min(95%, 900px);
    margin: auto;
}

section.home {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section article,
section aside {
    background-color: var(--white);
    border-radius: 10px;
    padding: 1.5rem 2rem;
}

section.home article {
    text-align: center;
}

section.home article img {
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin-bottom: 1.5rem;
}

section.home article h3 {
    line-height: 150%;
}

@media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .Navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
}

@media (min-width: 850px) {
    nav {
        width: 100%;
        height: auto;
        transform: translateY(0);
        justify-content: space-between;
    }
    nav,
    nav ul {
        flex-direction: row;
    }
    nav .nav-container {
        background-color: transparent;
        width: auto;
        height: auto;
        position: relative;
        transform: translateY(0);
        flex-direction: row;
    }
    .hamburger,
    nav .close {
        display: none;
    }
    nav li {
        margin: 0 1.5rem;
    }
}