*,
*::before,
*::after {
box-sizing: border-box;
padding: 0;
margin: 0;
}

:root {
    --white: #f1f1f1;
    --light-gray: #cccccc;
    --black: #231e24;
    --orange: rgb(246, 178, 18);

    --brown: #7c6e53;
    /* --orange: rgb(235, 104, 16); */
    --pale-orange: #f0c26a;
    /* --yellow: rgb(235, 207, 132); */
}

section.home {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section article,
section aside {
    background-color: var(--white);
    border-radius: 10px;
    padding: 1.5rem 2rem;
}

section.home article {
    text-align: center;
}

section.home article img {
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin-bottom: 1.5rem;
}

section.home article h3 {
    line-height: 150%;
}

@keyframes glowing {

    25%{
        color: rgb(17, 17, 16);
    }

    50% {
      color: rgb(39, 64, 100);
      
    }
    100% {
      color:#435e36;
     
    }
}


.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1%;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    
}

.box > div{
   margin: 30px;
}

div h2::before{
    content: "\02600";
    font-size: x-large;
    color: black;
    
  }
  

h1{
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: glowing 3s infinite;   

}

.definition {
padding: 20px;
height: 150px;
width: 500px;
display: flex;
flex-wrap: wrap;
text-align: center;
background-color: #7b97ec;
margin: auto;
border-radius: 20px;
border: dashed 3px black;
box-shadow: 5px 5px rgb(23, 69, 84);
}

.box h2{
    padding-top: 40%;
}

.box1, .box2, .box3, .box4, .box5 {
    width: 200px;
    height: 200px;
    background-color: rgb(45, 167, 96);
    margin-right: 50px;
    border-radius: 20px;
    border: dashed 5px #231e24;
    position:relative;
    box-shadow: 5px 5px rgb(74, 177, 172);
    font-size: large;
    /* animation: glowing 3s infinite;     */
     
}


.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover {
    background-color: #e9b72d;

}

.box1 a:hover, .box2 a:hover, .box3 a:hover, .box4 a:hover, .box5 a:hover{

    color: rgb(114, 37, 14);

}

@media screen and (max-width: 550px) {
    .definition {
        width: 100%;
        height: fit-content;
    }
    .box {
        justify-content: center;
    }
}






